table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}
body { background-color: green;
}
p {color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.header {color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
#top {color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.table {color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
footer {border: 1px solid black;
    border-collapse: collapse;}
#lake { 
float: right;
max-width: 750px;
border: 2px solid white;
    border-collapse: separate;
    border-spacing: 1px;}