.theBody
    background-image: url("GRIFFON.png")
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    background-color: #464646
    color: #fff
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000
    resize: both
    overflow: scroll
select
    text-align-last: center
    direction: rlt
 