
#lake {
  max-width: 750px;
}
.cities-grid {
  border: 1px solid white;
}
.cities-row {
  border: 1px solid white;
}
.cities-col {
  border: 1px solid white;
  text-emphasis-color: white;
  color: white;
  width: 100px;
  height: 250px;
}
.gridPics {
  max-height: 300px;
  max-width: 300px;
}